    body {
    background-color:violet;
    padding: 200px;
    }
    #contaener{
        width: 770px;
        margin-left: auto;
        margin-right: auto;
    }
   #header{
        width: 770px;
        height: 280px;
        background-color: pink;
        background-image: url("gambar/alphadriveone.jpg");
        background-size: 100%;
        margin-right: auto;
        margin-left: auto;
    }
    #contant{
        width: 740px;
        background-color: pink;
        padding: 5px 15px 5px 15px;
        margin-left: auto;
        margin-right: auto;
    }
    #contant h1 {
        color: blue;
        text-align: center;
        font-size: 20px;
        
    }
    #contant p{
        font-size: 13px;
        text-align:justify;
        font-family: Verdana;
        color:blueviolet;

    }
    #footer{
        width: 770px;
        height: 40px;
        background-color: antiquewhite;
        padding-top: 30px;
    
    }
    #footer p{
        color: blueviolet;
        text-align: center;
         font-size: 13px;
    }